<div class="container-fluid secao1sobre">

	<div class="card shadow mt-5">
		<div class="card-body text-center">
			<h1 class="mt-0 mb-3">SOBRE</h1>
			<p class="m-0">Conheça todos os Co-Founders da empresa Tracks. Cada um desses tiveram uma participação incrível para o avanço da empresa.</p>
		</div>
	</div>

	<div class="row justify-content-center mt-5">

		<div class="col-sm-3 pb-4">
			<div class="card shadow" style="min-height: 100%;">
				<div class="card-body text-center">
					<h5 class="card-title">DYLAN ASHBY</h5>
					<img class="rounded-circle" src="/public/img/dylan.PNG" alt="Generic placeholder image" width="140" height="140">
					<p class="card-title" style="font-weight: bold;">CPO Tracks</p>
					<p class="card-text">Front-end Dev.</p>
					<div class="btn-group">
						<a href="https://github.com/DylanAshbeer" class="btn btn-outline-dark" target="_blank">
							<i class="bi bi-github"></i>
						</a>
						<a href="https://www.linkedin.com/in/seu-linkedin" class="btn btn-outline-primary" target="_blank">
							<i class="bi bi-linkedin"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-3 pb-4">
			<div class="card shadow" style="min-height: 100%;">
				<div class="card-body text-center">
					<h5 class="card-title">GABRIEL FORMARIO</h5>
					<img class="rounded-circle" src="/public/img/eu.jpg" alt="Generic placeholder image" width="140" height="140">
					<p class="card-title" style="font-weight: bold;">CEO Tracks</p>
					<p class="card-text">Back-end Dev.</p>
					<div class="btn-group">
						<a href="https://github.com/gaformario" class="btn btn-outline-dark" target="_blank">
							<i class="bi bi-github"></i>
						</a>
						<a href="https://www.linkedin.com/in/seu-linkedin" class="btn btn-outline-primary" target="_blank">
							<i class="bi bi-linkedin"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-3 pb-4">
			<div class="card shadow" style="min-height: 100%;">
				<div class="card-body text-center">
					<h5 class="card-title">LUIZ GUILHERME</h5>
					<img class="rounded-circle" src="/public/img/luiz.jpg" alt="Generic placeholder image" width="140" height="140">
					<p class="card-title" style="font-weight: bold;">CTO Tracks</p>
					<p class="card-text">Front-end Dev.</p>
					<div class="btn-group">
						<a href="https://github.com/luizguilhermembp" class="btn btn-outline-dark" target="_blank">
							<i class="bi bi-github"></i>
						</a>
						<a href="https://www.linkedin.com/in/seu-linkedin" class="btn btn-outline-primary" target="_blank">
							<i class="bi bi-linkedin"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<!--
		<div class="col-sm-3 pb-4">
			<div class="card shadow" style="min-height: 100%;">
				<div class="card-body">
					<h5 class="card-title">Rafael Marqueti de Andrade</h5>
					<p class="card-text">CMO da Tracks</p>
					<a href="https://github.com/rafaelmarqueti" target="_blank" class="btn btn-primary">GitHub</a>
				</div>
			</div>
		</div>
		-->

	</div>

</div>

<%- contentFor("espaco-head") %>
<style type="text/css">
	.card {
		background-color: rgba(255, 255, 255, 0.8);
	}
</style>
