<div class="container-fluid secao1sobre">

	<div class="card shadow mt-5">
		<div class="card-body text-center">
			<h1 class="mt-0 mb-3">Sobre</h1>
			<p class="m-0">Conheça todos os Co-Founders da empresa Tracks. Cada um desses tiveram uma participação incrível para o avanço da empresa.</p>
		</div>
	</div>

	<div class="row mt-5">

		<div class="col-sm-3 pb-4">
			<div class="card shadow" style="min-height: 100%;">
				<div class="card-body">
					<h5 class="card-title">Dylan Marques Ashby</h5>
					<p class="card-text">CPO da Tracks.</p>
					<a href="https://github.com/DylanAshbeer" target="_blank" class="btn btn-primary">GitHub</a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 pb-4">
			<div class="card shadow" style="min-height: 100%;">
				<div class="card-body">
					<h5 class="card-title">Gabriel Gonçalves Formario</h5>
					<p class="card-text">CEO da Tracks. </p>
					<a href="https://github.com/gaformario" target="_blank" class="btn btn-primary">GitHub</a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 pb-4">
			<div class="card shadow" style="min-height: 100%;">
				<div class="card-body">
					<h5 class="card-title">Luiz Guilherme Machado Bueno Pereira</h5>
					<p class="card-text">CTO da Tracks</p>
					<a href="https://github.com/luizguilhermembp" target="_blank" class="btn btn-primary">GitHub</a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 pb-4">
			<div class="card shadow" style="min-height: 100%;">
				<div class="card-body">
					<h5 class="card-title">Rafael Marqueti de Andrade</h5>
					<p class="card-text">CMO da Tracks</p>
					<a href="https://github.com/rafaelmarqueti" target="_blank" class="btn btn-primary">GitHub</a>
				</div>
			</div>
		</div>

	</div>

</div>

<%- contentFor("espaco-head") %>
<style type="text/css">
	.card {
		background-color: rgba(255, 255, 255, 0.8);
	}
</style>
