<div class="container-fluid">
	<h1 class="my-5">Sobre</h1>

	<p>Sobre nós! 😊</p>

	<div class="row mt-5">

		<div class="col-sm-3 pb-4">
			<div class="card shadow" style="min-height: 100%;">
				<div class="card-body">
					<h5 class="card-title">Dylan Marques Ashby</h5>
					<p class="card-text">Descrição do integrante.</p>
					<a href="https://github.com/DylanAshbeer" target="_blank" class="btn btn-primary">GitHub</a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 pb-4">
			<div class="card shadow" style="min-height: 100%;">
				<div class="card-body">
					<h5 class="card-title">Gabriel Gonçalves Formario</h5>
					<p class="card-text">Descrição do integrante.</p>
					<a href="https://github.com/gaformario" target="_blank" class="btn btn-primary">GitHub</a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 pb-4">
			<div class="card shadow" style="min-height: 100%;">
				<div class="card-body">
					<h5 class="card-title">Luiz Guilherme Machado Bueno Pereira</h5>
					<p class="card-text">Descrição do integrante.</p>
					<a href="https://github.com/luizguilhermembp" target="_blank" class="btn btn-primary">GitHub</a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 pb-4">
			<div class="card shadow" style="min-height: 100%;">
				<div class="card-body">
					<h5 class="card-title">Rafael Marqueti de Andrade</h5>
					<p class="card-text">Descrição do integrante.</p>
					<a href="https://github.com/rafaelmarqueti" target="_blank" class="btn btn-primary">GitHub</a>
				</div>
			</div>
		</div>

	</div>

</div>
